
.screen_name {
	color: #2F7492;
	font-size: medium;
	border-width:0px;
	border-style:none;
	margin:0px;
}

.weibo_text {
	color: #2F7492;
	font-size: medium;
	margin:2px 0 2px 0;
}

.retweeted_text {
	color: #2F7492;
    font-size: medium;
	background-color: #DBDBDB;
	padding:5px;
	margin:2px 0 2px 0;
}
.label {
	width: 100%;
	height: 5px;
	background-color: #FCD730;
	border-width:0px;
	border-style:none;
	margin:0px;
}

/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

/**
 * Grid items
 */
#tiles li {
width: 300px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;
}

#tiles li img {
display: block;
}

/* #tiles li div {
	 width: %100;
	 MARGIN-RIGHT: auto; 
	 MARGIN-LEFT: auto; 
}
 */
/**
 * Grid item text
 
#tiles li p {
color: #666;
font-size: 11px;
line-height: 16px;
margin: 6px 0 1px 7px;
}
*/
/** General page styling **/
  
html {
background-color: #e9e9e9;
}

#main {
padding:50px 0 30px 0;
}

header h1 {
text-align: center;
font-size: 24px;
font-weight: normal;
margin: 0px 0 3px 0;
}

header p {
text-align: center;
font-size: 13px;
color: #777;
margin: 0;
}

/** Loader **/
  
#loader {
  height: 16px;
  text-align: center;
  padding: 25px 0 25px 0;
}
  
#loaderCircle {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background-image: url('../images/loader.gif');
}

body {
background-image: url(../images/body_bg.gif);
font: 62.5%/160% "Microsoft JhengHei","微軟正黑體","Microsoft YaHei","微软雅黑",Verdana, Arial, Helvetica, sans-serif;
font-family: arial,sans-serif;
}

